[Unit]
After=multi-user.target

[Service]
User=kommu
Restart=no
ExecStart=/usr/local/venv/bin/python -u /usr/kommu/phantom_touch_logger.py

[Install]
WantedBy=multi-user.target
